 @import url('https://fonts.googleapis.com/css?family=Lobster');

*{
  font-family: 'Lobster', cursive;
}
.imgfaq{
   max-width: 100%;
  box-shadow: 1px 1px 12px #555;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    
  }
  .imgfaq:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }


.question{
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 30px;
  padding-top: 40px;
  padding-bottom: 20px;
  background: linear-gradient(#202020, #000000);
}
.question:nth-child(2){
  background: linear-gradient(#808080, #606060);
  
}
.question:nth-child(4){
  background: linear-gradient(#606060, #404040);
}
.question:nth-child(6){
  background: linear-gradient(#404040, #202020);
}
.pfaq{
  font-size: 60px;
}
hr{
    border: wheat
}